		
		.header {
			height: 70px;
			border-bottom: 1px solid grey;
		}

		#logo {
			width: auto;
			height: 50px;
			line-height: 70px;
			vertical-align: middle;
		}

		.div_form {
			margin: 0 auto ;
			width: 1000px;
			height: 30px;
		}

		.input {
			border: none;
			border-bottom: 3px solid #f7f7f7;
			height: 30px;
			width: 300px;
			margin: 7px;
		}

		.table {
			border-collapse: collapse;
			width: 935px;
			margin: 7px;
			text-align: center;
		}
		
		th {
			background-color: #419fe2;
			height: 40px;
			color: white;
			width: 935px;
			
		}

		.tr {
			border: 1px solid black;
			height: 40px;
			width: 934px;
		}

		a {
			margin-left: 100px;
			margin-right: 15px;
			font: 25px Arial;
		}

		a:link {
			text-decoration: none;
			color: black;
		}

		a:visited {
			text-decoration: none;
			color: black;
		}

		ul {
			list-style-type: none;
		}

		li {
			display: inline;
		}