body {
    position: relative;
    font-family: Arial;    
    margin: auto;
}

.skin-body {
    background-color: #ffffff; 
}

.header {
    height: 70px;
}

.skin-header {
    border-bottom: 1px solid grey;
}

.footer {
    height: 60px; 
    position: absolute;
    left: 0;
    right: 0;
    line-height: 60px;
    text-align: right;
    padding-right: 50px;
}

.skin-footer {
    background-color: #bcbcaf;
    color: #686865;
}

.nav-buttons {
    vertical-align: middle;
    line-height: 70px;
    margin-left: 100px;
    margin-right: 15px;
    font-size: 25px;
}

.current-page {
    border-bottom: 9px solid #21bcff; 
    padding-bottom: 12px;
}

.logo {
    width: auto;
    height: 50px;
    line-height: 70px;
    vertical-align: middle;
}

.candidates-table {
    margin: 200px auto 440px;
    width: 60%;
    height: 200px;
    border-collapse: collapse;
    text-align: left;
    font-size: 20px;
}

.candidates-table-header {
    height: 60px;
    padding-left: 30px;
}

.skin-candidates-table-header {
    background-color: #21bcff;
    color: white;
    border: none;
}

.rows {
    border-bottom: 1px solid #686865;
    height: 40px;
}

.details-button {
    font-size: 20px;
    width: 30px;
    height: 30px;
}

.skin-details-button {
    background-color: #21bcff;
    color: white;
    border: none;
    border-radius: 100%;
}

td {
    padding-left: 30px;
}

.details {
    text-align: right;
}

a:link, a:visited {
    text-decoration: none;
    color: black;
}